.paper {
    background-color: var(--paperbox-background);
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    gap:15px;
    word-wrap: break-word;
    background-clip: border-box;
}


.paper-box {
    background-color: var(--paperbox-background);
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: var(--paperbox-border);
    border-radius: var(--paperbox-border-radius);
    box-shadow: var(--paperbox-box-shadow);
}

    .paper-box .top {
        display: flex;
        flex-flow: row;
        justify-content:space-between;
    }

        .paper-box .top .title {
            font-size: 15px;
            font-weight: 600;
            margin-bottom:10px;
        }

        .paper-box .top .actionbar {
        }
