.content {
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

    .content img {
        align-self:center;
        max-width: 400px;
        width:400px;
        height: auto;
    }

    .content p {
        font-size: 1rem;
    }
