.container {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

    .container .article {
        display: flex;
        flex-flow: column;
        gap: 20px;
    }

        .container .article .cover {
            display: flex;
        }

            .container .article .cover .img {
                width: 100%;
                max-height: 500px;
                object-fit: cover;
            }

        .container .article .body {
            display: flex;
            flex-flow: column;
            gap: 10px;
        }

            .container .article .body .date {
                display: flex;
                flex-flow: row;
            }

            .container .article .body .title {
                font-size: 40px;
                font-weight: bold;
            }

            .container .article .body .content {
                text-align: justify;
                font-size: 15px;
                margin: 0 0 10px 0
            }

            .container .article .body .related {
                width: 100%;
                padding: 20px;
            }

    .container .comments {
        left:0;
        width:100%;
    }

@media screen and (max-width: 970px) {
    .container .article {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 20px;
    }

        .container .article .cover {
            display: flex;
            height: 100%;
            width: 100%;
        }

            .container .article .cover .img {
                width: 100%;
                max-height: 400px;
            }
}
