
.list {
    display: flex;
    flex-flow:column;
    justify-content:center;
    align-items:center;
    gap: 2rem;
}
.list .items{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(700px,1fr));
    gap: 2rem;
}
    .list .pager {
        padding:5rem;

    }

@media (max-width: 900px) {
    .list .items {
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        gap: 3rem;
    }
}