
<nav role="navigation" class="primary-navigation">
    <ul>
        <li><a style="color:white;" href="#">Home</a></li>
        <li>
            <a style="color:white;" href="#">Podcast &dtrif;</a>
            <ul class="dropdown">
                <li><a href="/podcast">Podcast list</a></li>
                <li><a href="#">Web Design</a></li>
                <li><a href="#">Illustration</a></li>
                <li><a href="#">Iconography</a></li>
            </ul>
        </li>
        <li><a style="color:white;" href="/about">About</a></li>
        <li><a style="color:white;" href="/blog">Blog</a></li>
        <li><a style="color:white;" href="/Contact">Contact</a></li>
    </ul>
</nav>