@page "/podcast"
@using DigiBanter.Client.Services


<PageTitle>Podcast List</PageTitle>
<div class="podcast-list">
    @foreach (var item in PodcastService.Collection)
    {
        <PodcastCard Podcast="item" />
    }
</div>
@code {
   
}

