* {
    transition: all .3s ease-in-out;
}

.add-btn-lg {
    display: block;
}

.add-btn-sm {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.page {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.header {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
}

    .header .title {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 1rem;
        padding-inline: 5px;
    }

        .header .title i {
            font-size: 35px;
        }

        .header .title h4 {
            margin-top: 10px;
        }

    .header .action-group {
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 1rem;
    }

.list {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

    .list .post-item {
        border: 1px solid #f3f3f3;
        border-radius: 1rem;
        align-items: center;
        display: flex;
        flex-flow: row;
        gap: 1rem;
        padding: 10px;
        box-shadow: var(--paperbox-box-shadow)
    }

        .list .post-item:hover {
            background-color: #f7f9fa;
        }


            .list .post-item:hover .cover img {
                transform: scale(1.1) rotate(-3deg);
            }


        .list .post-item .cover {
            border-radius: .8rem;
            height: auto;
            width: 100%;
            max-width: 270px;
            max-height: 150px;
            overflow: hidden;
        }

            .list .post-item .cover img {
                height: auto;
                width: 100%;
                max-width: 270px;
                max-height: 150px;
                object-fit: cover;
            }

        .list .post-item .content-group {
            display: flex;
            flex-flow: row;
            align-items: center;
            width: 100%;
            gap: .5rem;
        }

            .list .post-item .content-group .action-group {
                justify-content: end;
                padding-right: 30px
            }

            .list .post-item .content-group .content {
                display: flex;
                flex-flow: column;
                width: 100%;
            }


                .list .post-item .content-group .content .title {
                    font-size: 20px;
                    font-weight: 500;
                }

                .list .post-item .content-group .content .date {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    gap: .2rem;
                }

                .list .post-item .content-group .content .chipset {
                    display: flex;
                    flex-flow: wrap;
                    margin-inline: -5px;
                }




@media (max-width:768px) {
    .add-btn-lg {
        display: none;
    }

    .add-btn-sm {
        display: block;
    }

    .list .post-item {
        flex-flow: column;
        justify-content: start;
        gap: .2rem;
        padding: 15px;
    }



        .list .post-item .content-group .content .title {
            gap: .0rem;
        }

        .list .post-item .cover {
            height: auto;
            max-height: 300px;
            width: 100%;
            max-width: 100%;
            object-fit: cover;
        }

            .list .post-item .cover img {
                height: auto;
                max-height: 300px;
                width: 100%;
                max-width: 100%;
                object-fit: cover;
            }
}

@media (max-width:550px) {
    .list .post-item .content-group {
        flex-flow: column;
        align-items: end;
    }

        .list .post-item .content-group .action-group {
            padding-right: 0
        }
}
