
.comment {
    position:relative;
    display: flex;
    flex-flow: row;
    gap: 1rem;
    width:100%;
}

.content {
    display: flex;
    flex-flow: column;
    width:100%;
    border-radius:1rem;
    border:  1px var(--mud-palette-text-disabled) dashed;
    padding:1rem;
}

.comment .content .header {
    display: flex;
    flex-flow: column;
}

    .comment .content .header .title {
        font-weight: bold;
    }
    .comment .content .header .date {
        color:var(--mud-palette-text-secondary);
        font-size:.8rem;
    }

.comment .img {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all .1s ease;
    outline: 1px solid #d4d4d4;
}
    .comment .img:hover {
        cursor: pointer;
        padding: .2rem;
        transition: all .1s ease;
        outline: 1px solid #d4d4d4;
    }

@media (max-width:768px ) {
    .comment {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        width: 100%;
    }

        .comment .img {
            position: absolute;
            top: -25px;
            left: 15px;
        }

    .content {
        padding-top: 2rem;
    }
}

