
    <div class="container">
        <CommentCard Model="@new("Alireza Tadi",DateTime.Now,"https://bootdey.com/img/Content/avatar/avatar1.png","This article provides a comprehensive overview of the current state and future prospects of artificial intelligence. The author does an excellent job of explaining complex concepts in an accessible way",12,1)" />
        <CommentCard Model="@new("Ehsan Yaghmori",DateTime.Now,"https://bootdey.com/img/Content/avatar/avatar7.png","Thanks for your comment",1,0)" />
        <CommentCard Model="@new("Meysam Rastegar kisomy",DateTime.Now,"https://bootdey.com/img/Content/avatar/avatar6.png","I found this article to be overly optimistic about the potential benefits of AI. It glosses over some of the more significant challenges and risks associated with the technology.",12,1)" />
    </div>



@code {
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public bool Isloading { get; set; }
}
