.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:50px;
    gap:20px;

}
@media (max-width:768px ) {
    .container {
        padding: 1rem;
        gap: 3rem;
    }
}
