<footer id="footer-3" class="wide-40 footer division">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="footer-info">
                    <div class="logo">
                        <img src="assets/logo/logo-art.png" height="35" alt="footer-logo">
                        Pars<span style="color:var(--mud-palette-primary)">Links</span>
                    </div>


                    <div class="info">
                        <p class="title">
                            Where Links Forge Networks
                        </p>
                        <p class="txt">
                            We empower professionals to connect and network with like-minded individuals, fostering a community that drives innovation and growth through collaborative relationships
                        </p>

                    </div>
                    <div class="social-links">
                        <a href="#" class="ico"><i class="fab fa-youtube" /></a>
                        <a href="#" class="ico"><i class="fab fa-facebook-f" /></a>
                        <a href="#" class="ico"><i class="fab fa-x" /></a>
                        <a href="#" class="ico"><i class="fab fa-instagram" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 offset-lg-1">
                <div class="footer-box">
                    <h5>Let's Talk</h5>
                    <p >E: <a  href="mailto:info@parslinks.com">info@parslinks.com</a></p>
                    <p>P: +98 912 (627) 7404</p>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-links mb-40">
                    <h5 class="h5-sm">Company</h5>
                    <ul class="foo-links clearfix">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Press &amp; Media</a></li>
                        <li><a href="#">Our Blog</a></li>
                        <li><a href="#">Advertising</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="footer-links mb-40">
                    <h5 class="h5-sm">Discover</h5>
                    <ul class="clearfix">
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Life Chatting</a></li>
                        <li><a href="#">Terms &amp; Privacy</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Site Map</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-footer">
            <div class="row">
                <div class="col-md-12 mt-10">
                    <p class="footer-copyright">© @DateTime.Now.Year <span style="font-family:Play;">ParsLinks</span>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>