/* Footer Styles */
.footer {
    background: var(--theme-accent-color);
    width: 100%;
    min-height: 400px;
    padding: 50px;
    margin: auto;
    position: unset;
    bottom: 0;
    color: white;
}


.footer-info {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

    .footer-info .logo {
        font-family: Play;
        font-size: 2rem;
        color:white;
        /*    filter: brightness(0) invert(1);*/
    }


    .footer-info .info {
        display: flex;
        flex-flow: column;
        gap: 5px;
        color: #adadadff;
    }

        .footer-info .info .title {
            font-weight: 500;
            font-size: 1.3rem;
            color: white;
        }

        .footer-info .info .txt {
            text-justify: inter-word;
            text-align: justify;
        }

    .footer-info .social-links {
        display: flex;
        flex-flow: row;
        gap: 1rem;
    }

        .footer-info .social-links a {
            color: #7d7d7dff;
            transition: all .3s ease;
        }

            .footer-info .social-links a:Hover {
                transform: scale(1.3);
                color: white;
                transition: all .3s ease;
            }
.footer-links a {
    color: #808080;
    transition: all .3s ease;
}
    .footer-links a:hover {
        color: white;
        transition: all .3s ease;
    }
.footer-box a, p {
    color: #808080;
    transition: all .3s ease;
}
    .footer-box a:hover {
        color: #808080;
        color: white;
        transition: all .3s ease;
    }