@attribute [StreamRendering]
<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="/@Language" class="d-flex flex-row justify-content-center align-items-center gap-1" alt="ParsLinks">
                <img src="/assets/logo/logo.png" height="40" width="auto" />
            </a>
        </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <label id="overlay" for="close-btn"></label>

        <ul class="nav-links" style="z-index: 2;">
            <label for="close-btn" class="btn close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg>
            </label>

            <li><a href="/@Language">Home</a></li>
            <li><a href="/@Language/about">About</a></li>
            <li>
                <a href="/@Language/blog" class="desktop-item">Blog</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Blog</label>
                <ul class="drop-menu">
                    @if (!IsLoading)
                    {
                        @foreach (var category in categories)
                        {
                            <li><a href="/@Language/blog">@category.Name</a></li>
                        }
                    }
                </ul>
            </li>
            <li>
                <a href="/@Language/podcast" class="desktop-item">Podcast</a>
                <input type="checkbox" id="showMega">
                <label for="showMega" class="mobile-item">Podcast</label>
                <div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
                        </div>
                        <div class="row">
                            <header>Design Services</header>
                            <ul class="mega-links">

                                <li><a href="/@Language/podcast">General Interest</a></li>
                                <li><a href="/@Language/podcast">Technology</a></li>
                                <li><a href="/@Language/podcast">Personal Growth</a></li>
                                <li><a href="/@Language/podcast">Health & Wellness</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Email Services</header>
                            <ul class="mega-links">
                                <li><a href="/@Language/podcast">Personal Email</a></li>
                                <li><a href="/@Language/podcast">Business Email</a></li>
                                <li><a href="/@Language/podcast">Mobile Email</a></li>
                                <li><a href="/@Language/podcast">Web Marketing</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Security services</header>
                            <ul class="mega-links">
                                <li><a href="/@Language/podcast">Site Seal</a></li>
                                <li><a href="/@Language/podcast">VPS Hosting</a></li>
                                <li><a href="/@Language/podcast">Privacy Seal</a></li>
                                <li><a href="/@Language/podcast">Website design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/@Language/feedback">Feedback</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg>
        </label>
    </div>
</nav>

@code {
    List<CategoryResponse> categories = new List<CategoryResponse>();
    protected override async Task OnInitializedAsync()
    {
        try
        {

            IsLoading = true;
            var response = await _categoryApiService.GetAllAsync(cancellationToken);
            if (response.Succeeded)
            {
                categories = response.Data;
            }
        }
        catch (Exception ex)
        {

        }
        finally
        {
            IsLoading = false;

        }
    }
}