.podcast-card {
    display: flex;
    flex-flow: column;
    padding:10px;
    transition: background-color .5s;
    gap:1rem;
}

    .podcast-card:hover {
        background-color: orange;
        cursor: pointer;
        transition: background-color .5s;
    }

    .podcast-card.disable:hover {
        background-color: inherit; /* No background change */
        cursor: default; /* Optional: Prevent pointer cursor */
    }

    .podcast-card .cover {
    }

        .podcast-card .cover .img {
            border-radius: .8rem;
            object-fit: cover;
            width: 100%;
            height:160px;
        }

    .podcast-card .body {
        display: flex;
        flex-flow: column;
    }

        .podcast-card .body .date {
            display: flex;
            flex-flow: row;
            gap: .2rem;
        }

        .podcast-card .body .title {
            font-weight: bold;
        }
