@inject NavigationManager Navigation

<a href="@($"{GetCurrentPath()}#{Id}")" class="scroll-to-top">↑</a>
@code {
    [Parameter]
    public string Id { get; set; }
    private string GetCurrentPath()
    {
        var uri = Navigation.ToBaseRelativePath(Navigation.Uri);
        return string.IsNullOrEmpty(uri) ? "/" : $"/{uri}";
    }

}