<div class="banner-area bg-relative banner-area-2 bg-cover" style="background-image: url(&quot;./assets/img/bg.png&quot;);width:100%;">
    <div class="cont ">

        <div class="dwrap">


            <div class="col-sm-6 col-lg-6 align-self-center">
                <div class="banner-inner">
                    <h6 class="subtitle " data-aos="fade-right" data-aos-delay="100" data-aos-duration="1500">Designing for the future</h6>
                    <h2 class="title " data-aos="fade-right" data-aos-delay="200" data-aos-duration="1500"> Revolutionize Your <span style="color:var(--mud-palette-primary)">Workflow</span> With Our SaaS</h2>
                    <p class="content pe-xl-5 " data-aos="fade-right" data-aos-delay="250" data-aos-duration="1500">
                        And In Order To Make A Business, Brand Advertising And Marketing Plays An Important Role. Similarly, In Making Cultivation Business Are Necessary.
                    </p>
                </div>

            </div>
            <div class="col-lg-6 col-md-9 " data-aos="fade-left" data-aos-delay="100" data-aos-duration="1500">
                <div class="banner-thumb-2 mt-4">
                    <img class="banner-animate-img banner-animate-img-4" src="assets/img/3.png" alt="img">
                    <div class="main-img-wrap">
                        <img class="banner-animate-img banner-animate-img-1 left_image_bounce" src="assets/img/4.png" alt="img">
                        <img class="banner-animate-img banner-animate-img-2 left_image_bounce" src="assets/img/5.png" alt="img">
                        <img class="banner-animate-img banner-animate-img-3 top_image_bounce" src="assets/img/2.png" alt="img">
                        <img class="main-img" src="assets/img/1.png" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
