<div class="container">
    <div class="row">
        <div class="section-title">
            <h1 class="h3-lg">The Team Behind the Vision</h1>
            <p>
                Our team leads are comprised of experienced professionals who have shaped our company into what it is today. Here's a brief overview of each member:
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="team-member">
                <img class="img" src="assets/team-member/ehsan.jpeg">
                <div class="team-member-data">
                    <h5>Ehsan Yaghmori</h5>
                    <a href="#">@@yaghmori</a>
                    <p>
                        He drives our technology strategy and direction, leveraging 15+ years of IT leadership experience to inform business growth and innovation. Her expertise has been pivotal in navigating complex tech challenges and positioning us for success in emerging trends.                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="team-member">
                <img class="img" src="assets/team-member/ali.jpeg" alt="team-member-foto">
                <div class="team-member-data">
                    <h5>Alireza Tadi</h5>
                    <a href="#">@@atadi</a>
                    <p>
                        As the visionary leader of our organization, he set the strategic direction and drive growth through innovative thinking, bold decision-making, and a customer-centric approach. With a proven track record of success, he built a team of talented professionals who are passionate about delivering exceptional results.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="team-member">
                <img class="img" src="assets/team-member/matthew.jpg" alt="team-member-foto">
                <div class="team-member-data">
                    <h5>Matthew Anderson</h5>
                    <a href="#">@@matthewanderson</a>
                    <p>
                        A skilled and award-winning photographer with a passion for capturing high-quality images, he appeared in various publications and exhibitions, showcasing expertise in lighting, composition, and visual storytelling.his work is not only visually stunning but also tells powerful stories that capture the essence of our brand
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="team-member">
                <img class="img" src="assets/team-member/megan.jpg" alt="team-member-foto">
                <div class="team-member-data">
                    <h5>Megan Coleman</h5>
                    <a href="#">@@megancoleman</a>
                    <p>
                        With a proven track record of success in digital marketing and branding, she always brings a keen eye for innovation, creativity, and data-driven insights to the table. Her work on our marketing strategy has been instrumental in helping us stay ahead of the curve in our industry.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>