
.cont{
    --bs-gutter-x: 10rem;
    --bs-gutter-y: 0;
    width: 70%;
    padding-right: 100px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
}
.banner-area-2 {
    padding-top: 210px;
    padding-bottom: 70px;
}
.banner-inner {
    position: relative;
    width:auto;
    margin:auto;
    margin-top:-250px;
}
.banner-area {
    margin-top: -120px;
}

.bg-cover {
    background-size: cover !important;
    background-position: 50%;
}

.bg-relative {
    position: relative;
}



@media (width< 1350px) {
    .cont {
        width: 100%;
    }
}


.banner-thumb-2 .banner-animate-img-4 {
    right: -50px;
    top: 0;
    width:500px;
    z-index: -10;
}







.banner-thumb-2 {
    position: relative;
}

@media (width< 1000px) {
  
}



.banner-thumb-2 .main-img-wrap .banner-animate-img-3 {
    left: -200px;
    bottom: 100px;
    z-index: 10;
}




.banner-thumb-2 .main-img-wrap .banner-animate-img-1 {
    left: -140px;
    width: 120px;
    z-index: 10;
}




.banner-thumb-2 .main-img-wrap .banner-animate-img-2 {
    right: -70px;
    z-index: 10;
    top: 50px;
}
@media (width> 600px ) and (width< 1000px) {

    .banner-inner {
        position: relative;
        left: -50%;
        width: 80vw;
        margin: auto;
    }
    .banner-thumb-2 .main-img-wrap .banner-animate-img-3 {
        left: -50px;
    }
}

@media (width< 600px) {
    .banner-thumb-2 .banner-animate-img {
        right: -70px;
    }

    .banner-thumb-2 .main-img-wrap .banner-animate-img-1 {
        left: -120px;
    }
    .banner-thumb-2 .main-img-wrap .banner-animate-img-3 {
        left: -50px;
    }
    .banner-inner {
        margin: auto;
    }

}



.banner-thumb-2 .banner-animate-img {
    position: absolute;
}




.banner-inner .title {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 700;
}




.row1 {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1* var(--bs-gutter-y));
    margin-right: calc(-.5* var(--bs-gutter-x));
    margin-left: calc(-.5* var(--bs-gutter-x));
}

.dwrap {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    justify-items:center;
}