<div class="section">
    <div class="header">
        <p class="title">Grow Faster With ParsLinks</p>
        <p class="caption">
            Unlock your full potential with ParsLink's innovative pricing structure. Our plans are designed to provide the right balance of features, support, and cost to help you achieve your business objectives
        </p>

    </div>
    <div class="body">
        <div class="feature">
            <div class="title">
                Basic
            </div>
            <div class="pricing-plan">
                <span>$</span>
                <span class="price">19</span>
                <sup class="pricing-coins">99</sup>
                <p>monthly</p>
            </div>
            <ul>
                <li class="selected"><i class="fas fa-stop-circle"></i> Concept Development</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> UI Design</li>
                <li class="disabled-option"><i class="fas fa-stop-circle"></i> App Management</li>
                <li class="disabled-option"><i class="fas fa-stop-circle"></i> Software QA</li>
                <li class="disabled-option"><i class="fas fa-stop-circle"></i> App Integration</li>
            </ul>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" DropShadow="false" Size="Size.Large" >Select Plan</MudButton>
        </div>
        <div class="feature selected" >

            <div class="title">
                Standard
            </div>
            <div class="pricing-plan">
                <span>$</span>
                <span class="price">39</span>
                <sup class="pricing-coins">99</sup>
                <p >monthly</p>
            </div>
            <ul>
                <li class="selected"><i class="fas fa-stop-circle"></i> Concept Development</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> UI Design</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> App Management</li>
                <li class="disabled-option"><i class="fas fa-stop-circle"></i> Software QA</li>
                <li class="disabled-option"><i class="fas fa-stop-circle"></i> App Integration</li>
            </ul>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" DropShadow="false" Size="Size.Large" >Select Plan</MudButton>

        </div>
        <div class="feature">
            <div class="title">Premium</div>
            <div class="pricing-plan">
                <span>$</span>
                <span class="price">54</span>
                <sup class="pricing-coins">99</sup>
                <p >monthly</p>
            </div>
            <ul>
                <li class="selected"><i class="fas fa-stop-circle"></i> Concept Development</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> UI Design</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> App Management</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> Software QA</li>
                <li class="selected"><i class="fas fa-stop-circle"></i> App Integration</li>
            </ul>
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" DropShadow="false" Size="Size.Large">Select Plan</MudButton>

        </div>
    </div>
</div>