<div class="container">
    <div class="row">
        <div class="section-title">
            <h1>Maximize Your Online Impact</h1>
            <p>
                Get expert guidance on how to build a strong online presence, drive growth, and achieve your business goals with our comprehensive solutions.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/presentation-2.png" alt="service-icon">
                <div class="txt">
                    <h5 class="h5-sm">Market Research</h5>
                    <p>
                        Conducting thorough market research to identify trends, opportunities, and challenges. This helps you make informed decisions and stay ahead of the competition.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/idea-2.png" alt="service-icon">
                <div class="txt">
                    <h5>User Experience</h5>
                    <p>
                        Creating user-centered interfaces that foster loyalty and growth. We understand your users' needs and behaviors to drive results.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/vector.png" alt="service-icon">
                <div class="txt">
                    <h5>Web Development</h5>
                    <p>
                        Crafting functional and visually stunning websites using the latest technologies. Fast, secure, and scalable solutions are delivered to meet evolving user needs.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/strategy.png" alt="service-icon">
                <div class="txt">
                    <h5>Brand Design Identity</h5>
                    <p>
                        Developing a cohesive brand identity that reflects your values, mission, and personality. A strong visual language is created to resonate with your target audience.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/internet.png" alt="service-icon">
                <div class="txt">
                    <h5 >SEO &amp; SMM Services</h5>
                    <p>
                        Implementing targeted SEO and SMM strategies to drive traffic, engagement, and conversions. A tailored plan is developed to get you seen, heard, and remembered by your target audience.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="sbox">
                <img class="img" src="assets/images/key-1.png" alt="service-icon">
                <div class="txt">
                    <h5>User Data Protection</h5>
                    <p>
                        Safeguarding user data against cyber threats and unauthorized access. Best practices and industry standards are followed for confidentiality, integrity, and availability.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>