
<div class="podcast-item paper-box" onclick="window.location.href='/podcast/@Podcast.Id';">
    <div class="cover">
        <img class="img" src="@Podcast.Image" >
    </div>
    <div class="content">
        <div class="date">
            <i class="material-icons-two-tone">calendar_today</i>
            @Podcast.DateTime.ToShortDateString()
        </div>
        <div class="title">
            @Podcast.Title
        </div>
    </div>
</div>


@code {
    [Parameter]
    public PodcastItem Podcast { get; set; }
}
