<nav>
    <div class="wrapper">
        <div class="logo">
            <a href="#" class="d-flex flex-row justify-content-center align-items-center gap-1" alt="DigiBanter">
                <img src="/assets/logo/logo.png" height="32" width="32" />
                igiBanter
            </a>
        </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <label id="overlay" for="close-btn"></label>

        <ul class="nav-links" style="z-index: 2;">
            <label for="close-btn" class="btn close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z" /></svg>
            </label>

            <li><a href="#">Home</a></li>
            <li><a href="/about">About</a></li>
            <li>
                <a href="/blog" class="desktop-item">Blog</a>
                <input type="checkbox" id="showDrop">
                <label for="showDrop" class="mobile-item">Blog</label>
                <ul class="drop-menu">
                    <li><a href="/blog">Category 1</a></li>
                    <li><a href="/blog">Category 2</a></li>
                    <li><a href="/blog">Category 3</a></li>
                    <li><a href="/blog">Category 4</a></li>
                </ul>
            </li>
            <li>
                <a href="/podcast" class="desktop-item">Podcast</a>
                <input type="checkbox" id="showMega">
                <label for="showMega" class="mobile-item">Podcast</label>
                <div class="mega-box">
                    <div class="content">
                        <div class="row">
                            <img src="https://fadzrinmadu.github.io/hosted-assets/responsive-mega-menu-and-dropdown-menu-using-only-html-and-css/img.jpg" alt="">
                        </div>
                        <div class="row">
                            <header>Design Services</header>
                            <ul class="mega-links">
                                <li><a href="/podcast">Graphics</a></li>
                                <li><a href="/podcast">Vectors</a></li>
                                <li><a href="/podcast">Business cards</a></li>
                                <li><a href="/podcast">Custom logo</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Email Services</header>
                            <ul class="mega-links">
                                <li><a href="#">Personal Email</a></li>
                                <li><a href="#">Business Email</a></li>
                                <li><a href="#">Mobile Email</a></li>
                                <li><a href="#">Web Marketing</a></li>
                            </ul>
                        </div>
                        <div class="row">
                            <header>Security services</header>
                            <ul class="mega-links">
                                <li><a href="#">Site Seal</a></li>
                                <li><a href="#">VPS Hosting</a></li>
                                <li><a href="#">Privacy Seal</a></li>
                                <li><a href="#">Website design</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="/feedback">Feedback</a></li>
        </ul>
        <label for="menu-btn" class="btn menu-btn">
            <svg xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z" /></svg>
        </label>
    </div>
</nav>

